<?xml version="1.0"?>
<config>
    <modules>
        <Macopedia_SupplyManager>
            <version>1.0.1</version>
        </Macopedia_SupplyManager>
    </modules>
    <global>
        <blocks>
            <macopedia_supplymanager>
                <class>Macopedia_SupplyManager_Block</class>
            </macopedia_supplymanager>
        </blocks>
        <helpers>
            <macopedia_supplymanager>
                <class>Macopedia_SupplyManager_Helper</class>
            </macopedia_supplymanager>
        </helpers>
        <models>
            <macopedia_supplymanager>
                <class>Macopedia_SupplyManager_Model</class>
                <resourceModel>macopedia_supplymanager_resource</resourceModel>
            </macopedia_supplymanager>
            <macopedia_supplymanager_resource>
                <class>Macopedia_SupplyManager_Model_Resource</class>
                <entities>
                    <attachment>
                        <table>macopedia_supplymanager_attachment</table>
                    </attachment>
                </entities>
            </macopedia_supplymanager_resource>
        </models>
        <resources>
            <macopedia_supplymanager_setup>
                <setup>
                    <module>Macopedia_SupplyManager</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </macopedia_supplymanager_setup>
        </resources>
        <template>
            <email>
                <supplymanager_emails_employee_approval_email translate="label" module="macopedia_supplymanager">
                    <label>Employee approval email</label>
                    <file>supplymanager/employee_approval_email.html</file>
                    <type>html</type>
                </supplymanager_emails_employee_approval_email>
                <supplymanager_emails_manager_approval_email translate="label" module="macopedia_supplymanager">
                    <label>Supply manager approval email</label>
                    <file>supplymanager/manager_approval_email.html</file>
                    <type>html</type>
                </supplymanager_emails_manager_approval_email>
                <supplymanager_emails_employee_invitation_email translate="label" module="macopedia_supplymanager">
                    <label>Employee invitation email</label>
                    <file>supplymanager/employee_invitation_email.html</file>
                    <type>html</type>
                </supplymanager_emails_employee_invitation_email>
            </email>
        </template>
    </global>
    <frontend>
        <layout>
            <updates>
                <macopedia_supplymanager>
                    <file>macopedia_supplymanager.xml</file>
                </macopedia_supplymanager>
            </updates>
        </layout>
        <routers>
            <macopedia_supplymanager_route>
                <use>standard</use>
                <args>
                    <module>Macopedia_SupplyManager</module>
                    <frontName>sm-manager</frontName>
                </args>
            </macopedia_supplymanager_route>
        </routers>
        <events>
            <customer_register_success>
                <observers>
                    <customer_register_success>
                        <type>singleton</type>
                        <class>macopedia_supplymanager/observer</class>
                        <method>getCustomerRegisterSuccess</method>
                    </customer_register_success>
                </observers>
            </customer_register_success>
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <sales_convert_quote_item_to_order_item>
                        <type>model</type>
                        <class>macopedia_supplymanager/observer</class>
                        <method>salesConvertQuoteItemToOrderItem</method>
                    </sales_convert_quote_item_to_order_item>
                </observers>
            </sales_convert_quote_item_to_order_item>
        </events>
    </frontend>
    <default>
        <supplymanager>
            <emails>
                <employee_approval_email>supplymanager_emails_employee_approval_email</employee_approval_email>
                <manager_approval_email>supplymanager_emails_manager_approval_email</manager_approval_email>
                <employee_invitation_email>supplymanager_emails_employee_invitation_email</employee_invitation_email>
            </emails>
            <pagination>
                <employees_per_page_values>1,2,3,5,8,12,20</employees_per_page_values>
                <employees_per_page>5</employees_per_page>
            </pagination>
        </supplymanager>
    </default>
</config>